:root {
    --black-color: hsl(0, 4%, 10%);
    --black-light-color: hsl(0, 5%, 8%, 0.8);
    --white-color: hsl(280, 60%, 99%);
    --orange-color: hsl(31, 77%, 52%);
    --cyan-color: hsl(184, 100%, 22%);
    --cyan-dark-color: hsl(179, 100%, 13%);
    --white-transparent-color: hsla(0, 0%, 100%, 0.75);
    --gray-white-color: hsl(0, 0%, 95%);
}